{% extends 'base.html.twig' %}

{% block title %}Mon compte - Nouvelle photo{% endblock %}

{% block body %}

<h1 class="mb-3 font-weight-bold">Nouvelle photo</h1>

{{ form_start(formUpload) }}
{{ form_reset(formUpload) }}
    <button class="btn btn-primary">Envoyer ma photo</button>
{{ form_end(formUpload) }}

{% endblock %}