{% extends 'base.html.twig'%}

{% block title %}Mon compte - Nouvelle photo{% endblock %}

{% block body %}

<h1 class="h3 mb-3 font-weight-bold">Nouvelle photo</h1>

{# Affiche les erreurs d'un formulaire grâce à la méthode getErrors()
    <div class="alert alert-danger">
        {% for error in errors %}
            <p>{{ error.message }}</p>
        {% endfor %}
    </div>
#}


{{ form_start(formpUload) }}
    {{ form_rest(formUpload) }}
    <Button class="btn btn-primary">Envoyer ma photo</button>
{{ form_end(formUpload )}}

{% endblock %}