{% extends 'base.html.twig' %}

{% block title %}Lookimage{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {# Catégories #}
    <ul class="nav justify-content-center py-4">
        {% for categorie in categories %}
            <li class="nav-iten">
            {# path() contient le nom de la route vers laquelle nous souhaitons nous rediriger #}
                <a class="nav-link" href="{{ path('pictures_by_category', { id: categorie.id }) }}">{{ categorie.name}}</a>
            </li>
        {% endfor %}
    </ul>

    {# images #}
    {# for est l'équivalent de foreach(), mais la condition est inversé !  #}
    {% for picture in pictures %}
        {#La concaténation en Twig se fait avec un tild "~" #}
        <a href="{{ path('show_picture', { id: picture.id }) }}">
            <img src="{{ asset('uploads/images/photos/'~picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">

    {% endfor %}

    {{ knp_pagination_render(pictures) }}

{% endblock %}
