{% extends 'base.html.twig' %}

{% block title %}Les photos de la catégorie{% endblock %}

{% block body %}
      <h1>Aperçu de la photo</h1>

    <div class="py-4">
        <a href="{{ path('home') }}">Retour à l'accueil</a>
    </div>

    <a href="{{ asset('uploads/images/photos/'~ picture.image) }}">
           <img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image}}>
    </a>

    <p class="pt-3">{{picture.description }}</p>
    <p class="py-3">Catégorie : {{picture.category.name }}</p>
    <small class="text-muted">{{ picture.tags }}</small>

    <hr class="mt-5">
    
    {# 
        "picture" correspond aux infos de notre image, à partir de cette image, nous allons chercher
        la catégorie reliée à l'image "picture.category" et à partir de cette catégorie, nous avons la
        possibilité de récupérer toutes les images liées à cette même catégorie "picture.category.pictures"
    #}
    <div class="row">
        {% for photo in picture.category.pictures %}
            {# !== s'écrit en Twig : is not same as()
               === s'écrit en Twig : is same as() 
            #}
            {% if photo.image is not same as(picture.image) %}
                <div class="col-3 mb-4">
                    <a href="{{ path('show_picture', { id: photo.id }) }}">
                        <img src="{{ asset('uploads/images/photos/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}" class="rounded img-fluid">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {{ knp_pagination_render(photos) }}
{% endblock %}