{% extends 'base.html.twig' %}

{% block title %}Administration - Nouvelle catégorie{% endblock %}

{% block body %}

<h1 class="mb-3 font-weight-bold">Nouvelle catégorie</h1>

{{ form_start(formNewCategory) }}
{{ form_rest(formNewCategory) }}
    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(formNewCategory) }}

{% endblock %}